.outer
  .wrapper
    .projects-overview
      .new-entry-wrapper
        %h2= t("entries.index.timer")
        .projects-tabs-container
          %ul.accordion-tabs
            %li.tab-header-and-content-left
              %a.tab-link{href: "#timer"}= t("entries.index.running_timer")
              #timer-tab.tab-like-content
                = simple_form_for @timer do |f|
                  = f.error_notification
                  = f.label "Start Time"
                  #starts_at_select
                  = f.input :starts_at, as: :string, input_html: { value: @timer.starts_at.iso8601},  label: false
                  = f.label "End Time"
                  #ends_at_select
                  = f.input :ends_at, as: :string, input_html: { value: @timer.ends_at&.iso8601},  label: false
                  = f.label "Project"
                  = f.association :project, required: true, collection: @projects, label: false, placeholder: t("entries.index.project")
                  = f.label "Category"
                  = f.association :category, required: true, collection: @categories, label: false, placeholder: t("entries.index.category")
                  .taggable
                    = f.label "Description"
                    = f.input :description, input_html: { data: { data: Tag.list }, autocomplete: :off }, label: false, autocomplete: "off", placeholder: t("entries.index.description")
                    %span.background-highlighter
                  = f.input :billed
                  = f.button :submit, value: 'Submit',  data: { disable_with: t("loader.saving")}, id: 'entry_button'


:javascript
  function setControl(theDate, target, inputTarget){
    var config = {
      target: target,
      timestamp: theDate.getTime()
    };
    var startDatepicker = new MtrDatepicker(config);
    startDatepicker.onChange('all', function() {
      $(inputTarget).val(startDatepicker.toUTCString())
    })
  }

  $(document).ready(function(){
    var startDate = new Date("#{@timer.starts_at.iso8601}");
    var endDate = new Date("#{(@timer.ends_at || Time.now).iso8601}");
    setControl(startDate, 'starts_at_select', '#timer_starts_at')
    setControl(endDate, 'ends_at_select', '#timer_ends_at')
  })

